@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
main {
    height: 100vh;
    position: relative;
    
}
body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 500px;
    width: 311px;
    /* background-color: blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe#tela {
    position: relative;
    top: 64px;
    left: 49px;
    width: 214px;
    height: 376px;
}
section#redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: end;
}
section#redes-sociais img {
    
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.377);
    box-sizing: border-box;
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.7s;
}