@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to left, #bebebe, #ffffff);
}
main {
    border-radius: 20px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(156, 156, 156, 0.575);
}

h1 {
    color: #025E73;
    text-align: center;
   
}
h2 {
    color: hsl(63,10%, 40%)
}
p {
    text-align: justify;
}