@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: Idroid;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: Idroid, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\0020\1F517';

}

header {
    background-color: var(--cor4);
    min-height: 200px;
    text-align: center;
}

header h1 {
    padding-top: 40px;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    font-weight: normal;
}

header p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    
}
nav a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;


}
nav a:hover { 
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: 0.5s;
}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;

}


main img {
    width: 100%;
}
main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor1);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe {
     position: absolute;
     top: 5%;
     left: 5%;
     width: 90%;
     height: 90%;
}


main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.8em;
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p {
    margin: 15px 0px;
    text-align: justify;    
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;

}
main strong {
    color: var(--cor4);
    font-weight: bold;
 
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4)
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.452);

}
aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;

}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}